#placeholder{
    height: 600px;
    width: 900px;
    // background-color: #F5F5F5;
    font-family: 'Barlow', sans-serif;
    // font-weight: 700;

    h1{
        background-color: $black;
        color: $white;
    }

}
